<div class="container">

  <div class="jumbotron">
    <div class="container">
      <h1>TODO ANGULAR APP!</h1>
    </div>
  </div>


  <div class="row">
    <div class="col-md-4 col-md-offset-4">



      <div class="input-group">
        <input type="text" class="form-control" [(ngModel)]="newTodo" placeholder="Add todo ">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" (click)="addTodo(newTodo)">Go!</button>
        </span>
      </div>


    </div>
  </div>
  <div class="row">
    <br>
    <div class="col-md-6 col-md-offset-4">
      <table class="table panel-cd">
        <tr>
          <th>TODO</th>
          <th>Gestion</th>
        </tr>
        <tr *ngFor="let todo of todos; let i = index">
          <td>
            <p [ngClass]="{tachado: todo.done}">{{todo.title}}</p>
          </td>
          <td>
            <button class="btn btn-info" *ngIf="!todo.done" (click)="todo.done = true">Terminado!</button> &nbsp;&nbsp;
            <button class="btn btn-warning" (click)="deleteTodo(i)">Borrar</button>
          </td>
        </tr>
        <tr *ngIf="todos.length === 0">
          <td><strong style="color: red; font-size: 30px">No todos</strong></td>
        </tr>
      </table>
    </div>
  </div>


</div>
